{% extends "common/base.html" %}
{% load static %}
{% load to_markdown %}

{% block title %}
Fasa Riona Dictionary
{% endblock title %}

{% block content %}

<!-- HEADER -->
{% include 'common/header.html' %}
<!-- END of HEADER -->

<!-- BREADCRUMB -->
<div class="py-2">
  <div class="container d-flex text-white">
      <a href="{% url 'landing:index' %}" class="text-info text-decoration-none me-1 material-symbols-outlined">
       home
      </a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <a href="{% url 'fasariona:index' %}" class="text-info text-decoration-none me-1">Fasa Riona</a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <a href="{% url 'fasariona:gwiki' %}" class="text-info text-decoration-none me-1">Gwiki</a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <span>{{gwiki.title}}</span>
  </div>
</div>
<!--END of BREADCRUMB-->

<div class="content container mt-5">
  {{gwiki.content|to_markdown|safe}}
</div>
{% endblock content %}
