{% extends "common/base.html" %}
{% load static %}

{% block title %}
Fasa Riona Dictionary
{% endblock title %}

{% block content %}

<!-- HEADER -->
{% include 'common/header.html' %}
<!-- END of HEADER -->

<!-- BREADCRUMB -->
<div class="py-2">
  <div class="container d-flex text-white">
      <a href="{% url 'landing:index' %}" class="text-info text-decoration-none me-1 material-symbols-outlined">
       home
      </a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <a href="{% url 'fasariona:index' %}" class="text-info text-decoration-none me-1">Fasa Riona</a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <span>Gwiki</span>      
  </div>
</div>
<!--END of BREADCRUMB-->

<div class="container">
  <div class="mt-5">
  </div>
  <!--Card List-->
    <ul class="list-grou list-group-flush">
      {% for wiki in gwiki_list %}
      <li class="list-group-item bg-dark">
        <a href="{% url 'fasariona:gwiki_detail' wiki.pk %}" class="text-info">{{wiki.title}}</a>
      </li>
      {% endfor %}
    </ul>
  <!--END of Card List-->
</div>
{% endblock content %}
