{% extends "common/base.html" %}
{% load static %}

{% block title %}
Fasa Riona Dictionary
{% endblock title %}

{% block content %}

<!-- HEADER -->
{% include 'common/header.html' %}
<!-- END of HEADER -->

<!-- BREADCRUMB -->
<div class="py-2">
  <div class="container d-flex text-white">
      <a href="{% url 'landing:index' %}" class="text-info text-decoration-none me-1 material-symbols-outlined">
       home
      </a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <a href="{% url 'fasariona:index' %}" class="text-info text-decoration-none me-1">Fasa Riona</a>
      <span class="me-1 material-symbols-outlined">chevron_right</span>
      <span>Dictionary</span>      
  </div>
</div>
<!--END of BREADCRUMB-->

<div class="container">
  <div class="mt-5">
    <form id="dict-search" action="{% url 'fasariona:dictionary' %}" method="POST">
    {% csrf_token %}
      <input
        type="text"
        class="form-control"
        name="simple-query"
        placeholder="Type sekra here..."
      />
    </form>
  </div>
  <!--Card List-->
  <div id="word-list" class="mt-5">
  {% if word_list %} <!-- if index-->
    {% for word in word_list %}
      {% include "fasariona/dictionary/word_card.html" %}
    {% endfor %}
  {% else %} <!-- if detail -->
    {% include "fasariona/dictionary/word_card.html" %}
  {% endif %}
  </div>
  <!--END of Card List-->
</div>
{% endblock content %}
