
<!--Word Card-->
<div class="card bg-dark text-white p-2 mt-4 shadow-lg">
  <!--Word Head-->
  <div class="d-flex justify-content-between">
    <div class="">
      <a class="fs-4 " href="{% url 'fasariona:dictionary_detail' word.pk %}">{{word.word}}</a>
    </div>
    <div class="d-flex align-items-start justify-content-end">
      <span class="px-2">{{word.pk}}</span>
    </div>
  </div>
  <!--END of Word Head-->
  <!--Desc Container-->
    {% for desc in word.desc.all %}
    <!--Desc-->
    <div class="my-1 py-2">
      <div class="d-flex">
        <div class="col-sm-1">
          <span
            class="ms-1 bg-black text-white d-inline-block px-1 rounded">{{desc.pos}}</span>
        </div>
        <div class="col-sm-11 ms-2 ms-sm-0 ">{{desc.definition}}</div>
      </div>
      <!--Sentence Container-->              
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11 fst-italic ps-sm-4 my-2">
          {% if desc.sentences.all %}
            <ul class="my-1 ps-4">
              {% for sentence in desc.sentences.all %}               
                <li>{{sentence.sentence}} | {{sentence.eng}}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
        </div>
      <!--END of Sentence Contaoiner-->
      {% if desc.note %}
      <div class="d-flex">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          {{desc.note}}
        </div>
      </div>
      {% endif %}
    </div>
    <!--END of Desc-->
    {% endfor %}
    <!--Related Words-->
    {% if word.antonym_words.all or word.related_words.all %}
      <div class="d-flex py-2 my-1">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
        {% if word.antonym_words.all %}
          <span class="bg-black text-white d-inline-block px-1 rounded">A</span>
          {% for antonym in word.antonym_words.all %}<a href ="{% url 'fasariona:dictionary_detail' antonym.pk %}"class="{% if not forloop.first %} ms-2 {% endif %}">{{antonym.word}}{% if not forloop.last %}<span class="text-white">,</span>{% endif %}</a>{% endfor %}
        {% endif %}
        {% if word.related_words.all %}
          <span class="bg-black text-white d-inline-block px-1 rounded">R</span>
          {% for related in word.related_words.all %}<a href ="{% url 'fasariona:dictionary_detail' related.pk %}" class="{% if not forloop.first %} ms-2 {% endif %}">{{related.word}}{% if not forloop.last %}<span class="text-white">,</span>{% endif %}</a>{% endfor %}
        {% endif %}
        </div>
      </div>
    {% endif %}
    <!--END of Related Words-->
</div>
<!--END of Word Card-->